<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @trip.user %>
</p>

<p>
  <strong>Meeting time:</strong>
  <%= @trip.meeting_time %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @trip.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @trip.end_date %>
</p>

<p>
  <strong>From:</strong>
  <%= @trip.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @trip.to %>
</p>

<p>
  <strong>Meeting place:</strong>
  <%= @trip.meeting_place %>
</p>

<p>
  <strong>Driver first name:</strong>
  <%= @trip.driver_first_name %>
</p>

<p>
  <strong>Driver last name:</strong>
  <%= @trip.driver_last_name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @trip.notes %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', :back %>
