<%= form_for(profile) do |f| %>
    <% if profile.errors.any? %>
	<div id="error_explanation">
	    <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

	    <ul>
		<% profile.errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>

    <div class="field form-group">
	<%= f.label :first_name %>
	<%= f.text_field :first_name, class: "form-control", :required => true %>
    </div>

    <div class="field form-group">
	<%= f.label :last_name %>
	<%= f.text_field :last_name, class: "form-control", :required => true %>
    </div>

    <div class="field form-group">
	<%= f.label :street_address %>
	<%= f.text_field :street_address, class: "form-control", :required => true %>
    </div>

    <div class="field form-group">
	<%= f.label :town %>
	<%= f.text_field :town, class: "form-control", :required => true %>
  </div>

  <div class="field form-group">
      <%= f.label :zipcode %>
      <%= f.number_field :zipcode, class: "form-control" %>
  </div>

  <div class="actions">
      <%= f.submit "Update Profile", class: "btn btn-primary" %>
  </div>
<% end %>
