<p id="notice"><%= notice %></p>

<h1>Profile</h1>

<p>
    Your public name is: <%= @profile.first_name %> <%= @profile.last_name %><br/>
    Your Address is: <%= @profile.street_address %> <%= @profile.town %> <%= @profile.state %> <%= @profile.zipcode %><br>
    Your latitude is: <%= @profile.latitude %><br>
    Your longitude is: <%= @profile.longitude %><br>
    Locations by <%= link_to "Open Street Map Nominatim", "http://nominatim.openstreetmap.org/" %>
</p>
<%= link_to 'Edit', edit_profiles_path %>
