<h2>People</h2>

<% @profiles.each_with_index do |profile, i| %>
    <% if i != 0 %>
	<hr>
    <% end %>
    <dl href="<%=  profile_path(profile.id) %>" class="list-group">
	<dt>Name</dt>
	<dd><%= profile.first_name %> <%= profile.last_name %></dd>
	<dt>Street address</dt>
	<dd><%= profile.street_address %> <%= profile.town %> <%= profile.state %> <%= profile.zipcode %></dd>
	<dt>Days Driveing</dt>
	<table class="table table-default">
	    <thead>
		<tr>
		    <th>Meeting time</th>
		    <th>Start date</th>
		    <th>End date</th>
		    <th>Day</th>
		    <th>From</th>
		    <th>To</th>
		    <th>Meeting place</th>
		    <th>Driver first name</th>
		    <th>Driver last name</th>
		    <th>Notes</th>
		    <th colspan="3"></th>
		</tr>
	    </thead>

	    <tbody>
		<% Trip.where(:user => profile.user).each do |trip| %>
		    <tr>
			<td><%= trip.meeting_time.strftime('%I:%M %p') %></td>
			<td><%= trip.start_date.strftime('%B %d %G') %></td>
			<td><%= trip.end_date.strftime('%B %d %G') %></td>
			<td><%= trip.start_date.strftime('%A') %></td>
			<td><%= trip.from %></td>
			<td><%= trip.to %></td>
			<td><%= trip.meeting_place %></td>
			<td><%= trip.driver_first_name? ? trip.driver_first_name : profile.first_name %></td>
			<td><%= trip.driver_last_name? ? trip.driver_last_name : profile.last_name %></td>
			<td><%= trip.notes %></td>
			<td><%= link_to 'Show', trip %></td>
		    </tr>
		<% end %>
	    </tbody>
	</table>
    </dl>
<% end %>
