<!DOCTYPE html>
<html>
  <head>
    <title>Mosey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render partial: "shared/menu" %>
      <% if controller_name == "find" && controller.action_name == "map" %>
	  <%= render partial: "shared/content" %>
      <% else %>
	  <div class="container" style="margin-top: 2rem">
	      <%= render partial: "shared/content" %>
	  </div>
      <% end %>
  </body>
</html>
